main.bx--content {
  background: none;
  min-height: calc(100vh - 3rem - 3rem);
}

#login-container .bx--tile {
  width: calc(100% - 40px);
  min-width: 320px;
  max-width: 530px;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* can't get it to be 100% of parent Grid */
#blog-container {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.club-tile .bx--tile--clickable {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

/* header not respecting theme change */
.bx--side-nav {
  background-color: var(--cds-ui-background);
  border-right: 1px solid var(--cds-ui-03);
}

a.bx--side-nav__link--current {
  background-color: var(--cds-ui-03);
}

a.bx--side-nav__link > .bx--side-nav__link-text,
.bx--side-nav a.bx--header__menu-item .bx--text-truncate-end {
  color: var(--cds-text-01);
}

@media (min-width: 0px) {
  .bx--side-nav ~ .bx--content {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* title h1 css */
.section-title {
  margin-bottom: 1.5rem;
}

/* blogpost css (put here to not get reset) */
#blog-content p {
  text-indent: 2rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

#blog-content h3 {
  margin-bottom: 0.75rem;
}

#blog-content blockquote {
  color: grey;
  margin-left: 1rem;
}

/* for some reason this happens */
#blog-content blockquote p {
  text-indent: 0;
}

#blog-content img {
  width: 95%;
}

#blog-content ol p {
  text-indent: 0;
}

/* numbered lists doesn't show */
#blog-content ol {
  list-style: decimal;
  margin-left: 2rem;
}
